jupyterlab
jupyter_contrib_nbextensions

# data science
pandas
kaggle
scipy


# ploting
matplotlib

# performance
dask
swifter
tqdm


# geocoding
geocoder
Shapely
geopy

# visualization
plotly
gmplot
networkx
pydot
seaborn

# other
pyperclip

# excel
openpyxl